<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />
    <title>Effect</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="images/favicon/site.webmanifest" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/fontawesome.min.css" />
    <link rel="stylesheet" href="css/sal.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body data-bs-spy="scroll" data-bs-target="#fixedNavbar">
    <!-- Start Header -->
    <header id="header" class="header-section">
      <div class="container">
        <div class="header">
          <a href="index.html" class="logo">
            <img loding="lazy" src="images/logo.svg" />
          </a>
          <div class="overlay"></div>
          <nav class="navbar" id="fixedNavbar">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" href="index.html"> Home </a>
              </li>
              <li class="nav-item">
                <a href="services.html" class="nav-link drop-link"> Service </a>
                <div class="drop-down">
                  <a href="services.html"> Service 1 </a>
                  <a href="#"> Service 2 </a>
                  <a href="#"> Service 3 </a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> PROJECTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html"> About us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blogs.html"> Blog </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html"> Contact </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> FAQs </a>
              </li>
            </ul>
          </nav>
          <div class="header-btn">
            <a href="index-ar.html" class="lang-ancor">AR</a>
            <button class="menu-btn">
              <span class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </header>
    <!-- End Header -->
    <!-- Start main -->
    <main class="main-section">
      <div class="container">
        <div class="main-cont">
          <div class="main-content">
            <h1 class="main-title">
              <span> Effect</span> - We craft solutions and make a difference
            </h1>
            <p class="main-pargh">
              "Effect: Leadership in Digital Innovation 🤗"
            </p>
            <a href="contact.html" class="main-btn">
              <span> Connect with us </span>
            </a>
            <div class="socials main-socials">
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </div>
          </div>
          <div class="main-gif">
            <figure>
              <img loding="lazy" src="images/main-img.gif" alt="gif" />
            </figure>
            <div class="socials main-socials">
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- End main -->
    <!-- Start services -->
    <section class="services-section">
      <div class="container">
        <h2 class="section-head">Services We Offer</h2>
        <p class="section-pargh">
          We offer innovative solutions tailored to meet your aspirations,
          ensuring unlimited and sustainable success for your business through
          creative, long-term strategies.
        </p>
        <div class="services-cont">
          <div class="services-item" data-sal="fade-in" data-sal-delay="150">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/01.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">Project Management Services</h5>
            <p class="services-item-pargh">
              We turn your ideas into reality! With organizational expertise and
              advanced strategies, we ensure your projects are completed
              efficiently and on time
            </p>
          </div>
          <div class="services-item" data-sal="fade-in" data-sal-delay="300">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/02.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">Consulting Services</h5>
            <p class="services-item-pargh">
              Strategic insights that lead to success! We provide specialized
              consultations to help you make confident decisions that drive your
              business growth
            </p>
          </div>
          <div class="services-item" data-sal="fade-in" data-sal-delay="450">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/03.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">Digital Marketing Services</h5>
            <p class="services-item-pargh">
              We transform your idea into a leading brand! Comprehensive digital
              marketing strategies to ensure you reach the right audience and
              achieve tangible results
            </p>
          </div>
          <div class="services-item" data-sal="fade-in" data-sal-delay="600">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/04.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">Design Services</h5>
            <p class="services-item-pargh">
              Unleash your creative vision! We provide innovative design
              services, including logos, visual identities, and captivating
              designs that make your brand stand out with elegance and
              distinction
            </p>
          </div>
          <div class="services-item" data-sal="fade-in" data-sal-delay="750">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/05.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">Programming Services</h5>
            <p class="services-item-pargh">
              Towards an innovative digital future! We offer tailored
              programming solutions that blend technology with creativity to
              develop applications and websites that exceed expectations
            </p>
          </div>
          <div class="services-item" data-sal="fade-in" data-sal-delay="900">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/03.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">Digital Marketing</h5>
            <p class="services-item-pargh">
              We deliver targeted digital marketing strategies to boost your
              online visibility and drive growth.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End services -->
    <!-- Start partners -->
    <section class="partners-section">
      <div
        class="partners-bg"
        style="background-image: url(images/partners/partners-bg.png)"
      ></div>
      <div class="container">
        <div class="partners-cont">
          <div class="partners-content">
            <h2 class="partners-title" data-sal="slide-up" data-sal-delay="150">Our partners</h2>
            <p class="partners-pargh">
              We proudly partner with leading companies across various
              industries to deliver exceptional results and drive success.
            </p>
          </div>
          <div class="partners-imgs">
            <figure
              class="partners-figure"
              data-sal="zoom-in"
              data-sal-delay="150"
            >
              <img
                loding="lazy"
                src="images/partners/01.png"
                alt="partners-img"
              />
            </figure>
            <figure
              class="partners-figure"
              data-sal="zoom-in"
              data-sal-delay="150"
            >
              <img
                loding="lazy"
                src="images/partners/02.png"
                alt="partners-img"
              />
            </figure>
            <figure
              class="partners-figure"
              data-sal="zoom-in"
              data-sal-delay="150"
            >
              <img
                loding="lazy"
                src="images/partners/03.png"
                alt="partners-img"
              />
            </figure>
            <figure
              class="partners-figure"
              data-sal="zoom-in"
              data-sal-delay="150"
            >
              <img
                loding="lazy"
                src="images/partners/04.png"
                alt="partners-img"
              />
            </figure>
            <figure
              class="partners-figure"
              data-sal="zoom-in"
              data-sal-delay="150"
            >
              <img
                loding="lazy"
                src="images/partners/05.png"
                alt="partners-img"
              />
            </figure>
            <figure
              class="partners-figure"
              data-sal="zoom-in"
              data-sal-delay="300"
            >
              <img
                loding="lazy"
                src="images/partners/06.png"
                alt="partners-img"
              />
            </figure>
            <figure
              class="partners-figure"
              data-sal="zoom-in"
              data-sal-delay="300"
            >
              <img
                loding="lazy"
                src="images/partners/07.png"
                alt="partners-img"
              />
            </figure>
            <figure
              class="partners-figure"
              data-sal="zoom-in"
              data-sal-delay="300"
            >
              <img
                loding="lazy"
                src="images/partners/08.png"
                alt="partners-img"
              />
            </figure>
            <figure
              class="partners-figure"
              data-sal="zoom-in"
              data-sal-delay="300"
            >
              <img
                loding="lazy"
                src="images/partners/01.png"
                alt="partners-img"
              />
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- End partners -->
    <!-- Start design -->
    <section class="design-section">
      <div class="container">
        <div class="design-cont">
          <figure class="design-img" data-sal="zoom-in" data-sal-delay="150">
            <img loding="lazy" src="images/design.jpeg" alt="design-img" />
          </figure>
          <div class="design-content">
            <h2 class="design-head">
              Designed and built by an astonishing creative team.
            </h2>
            <p class="design-pargh">
              Designed and built by an astonishing creative team, our projects
              combine innovative design with cutting-edge technology. Each
              solution is crafted with meticulous attention to detail, ensuring
              both aesthetic excellence and functional brilliance.
            </p>
            <a href="#" class="custom-ancor">About us</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End design -->
    <!-- Start process -->
    <section class="process-section">
      <div class="container">
        <h2 class="process-head" data-sal="slide-left" data-sal-delay="150">Our Process</h2>
        <p class="process-pargh">
          We follow a streamlined approach: understanding your needs, crafting
          customized solutions, executing with precision, and continuously
          optimizing to ensure outstanding results.
        </p>
        <div class="process-graph">
          <div class="process-item">
            <span>Discovery</span>

            <figure>
              <img loding="lazy" src="images/process/01.svg" alt="icon" />
            </figure>
            <p class="process-item-pargh">
              We analyze your business goals, audience, and challenges to gain
              insights and create a strategy aligned with your vision.
            </p>
          </div>
          <div class="process-item">
            <span>Plan</span>

            <figure>
              <img loding="lazy" src="images/process/02.svg" alt="icon" />
            </figure>
            <p class="process-item-pargh">
              We develop a strategic roadmap based on insights, outlining clear
              objectives, steps, and timelines to achieve your goals.
            </p>
          </div>
          <div class="process-item">
            <span>Execute</span>
            <figure>
              <img loding="lazy" src="images/process/03.svg" alt="icon" />
            </figure>
            <p class="process-item-pargh">
              We implement the strategy carefully, managing details to ensure
              smooth execution and achieve the desired outcomes effectively.
            </p>
          </div>
          <div class="process-item">
            <span>Deliver</span>

            <figure>
              <img loding="lazy" src="images/process/04.svg" alt="icon" />
            </figure>
            <p class="process-item-pargh">
              We deliver the final product or service with precision, ensuring
              it meets requirements, exceeds expectations, and provides
              exceptional value.
            </p>
          </div>
          <div class="process-gif">
            <img
              loding="lazy"
              src="images/process/process-gif-3.gif"
              alt="process-gif"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End process -->
    <!-- Start work -->
    <section class="work-section">
      <div class="container">
        <h2 class="section-head" data-sal="slide-left" data-sal-delay="150">View Our Work</h2>
        <div class="wotk-cont">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-management-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-management"
                type="button"
                role="tab"
                aria-controls="pills-management"
                aria-selected="true"
              >
                Project Management
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-consulting-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-consulting"
                type="button"
                role="tab"
                aria-controls="pills-consulting"
                aria-selected="false"
              >
                Consulting Services
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-marketing-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-marketing"
                type="button"
                role="tab"
                aria-controls="pills-marketing"
                aria-selected="false"
              >
                Digital Marketing
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-design-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-design"
                type="button"
                role="tab"
                aria-controls="pills-design"
                aria-selected="false"
              >
                Design Services
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-programming-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-programming"
                type="button"
                role="tab"
                aria-controls="pills-programming"
                aria-selected="false"
              >
                Programming Services
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-management"
              role="tabpanel"
              aria-labelledby="pills-management-tab"
              tabindex="0"
            >
              <div class="work-tab">
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/01.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>details</span>
                  </div>
                </a>
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/02.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>details</span>
                  </div>
                </a>
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/03.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>details</span>
                  </div>
                </a>
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/04.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>details</span>
                  </div>
                </a>
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/05.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>details</span>
                  </div>
                </a>
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/06.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>details</span>
                  </div>
                </a>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-consulting"
              role="tabpanel"
              aria-labelledby="pills-consulting-tab"
              tabindex="0"
            >
              ...
            </div>
            <div
              class="tab-pane fade"
              id="pills-marketing"
              role="tabpanel"
              aria-labelledby="pills-marketing-tab"
              tabindex="0"
            >
              ...
            </div>
            <div
              class="tab-pane fade"
              id="pills-design"
              role="tabpanel"
              aria-labelledby="pills-design-tab"
              tabindex="0"
            >
              ...
            </div>
            <div
              class="tab-pane fade"
              id="pills-programming"
              role="tabpanel"
              aria-labelledby="pills-programming-tab"
              tabindex="0"
            >
              ...
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End work -->
    <!-- End testimonials -->
    <section class="testimonials-section">
      <div class="container">
        <h2 class="testimonials-head" data-sal="slide-left" data-sal-delay="150">
          Meet Client Satisfaction after working with us
        </h2>
        <div class="testimonials-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonials-cont">
                  <div class="testimonials-img">
                    <figure>
                      <img src="images/client/01.png" alt="client" />
                    </figure>
                    <i class="fa-solid fa-quote-left"></i>
                  </div>
                  <div class="testimonials-title">Abdelazeez AlShourafa</div>
                  <div class="testimonials-job">Search engine optimization</div>
                  <p class="testimonials-pargh">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonials-cont">
                  <div class="testimonials-img">
                    <figure>
                      <img src="images/client/02.png" alt="client" />
                    </figure>
                    <i class="fa-solid fa-quote-left"></i>
                  </div>
                  <div class="testimonials-title">Abdelazeez AlShourafa</div>
                  <div class="testimonials-job">Search engine optimization</div>
                  <p class="testimonials-pargh">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonials-cont">
                  <div class="testimonials-img">
                    <figure>
                      <img src="images/client/03.png" alt="client" />
                    </figure>
                    <i class="fa-solid fa-quote-left"></i>
                  </div>
                  <div class="testimonials-title">Abdelazeez AlShourafa</div>
                  <div class="testimonials-job">Search engine optimization</div>
                  <p class="testimonials-pargh">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <!-- End testimonials -->
    <!-- Start contact  -->
    <section class="contact-section">
      <div class="container">
        <h2 class="section-head" data-sal="slide-left" data-sal-delay="150">Get in Touch</h2>
        <p class="contact-pargh">
          Connect with our team to discuss your project, ask questions, or get
          more information on how we can help you achieve your goals.
        </p>
        <div class="contact-cont">
          <div class="contact-content">
            <h4 class="contact-header">Let’s work together</h4>
            <p class="contact-text">
              Fill up the form and our Team will get back to you within 24
              hours.
            </p>
            <div class="contact-ancors">
              <a class="contact-item" href="tel:+91 98765 43210">
                <i class="fa-solid fa-mobile-button"></i>
                <span>+91 98765 43210</span>
              </a>
              <div class="contact-info">
                <a
                  class="contact-item"
                  href="mailto:Effect.io"
                  style="text-decoration: underline"
                >
                  <i class="fa-solid fa-envelope-open"></i>
                  <span>Effect.io</span>
                </a>
              </div>
              <div class="contact-info">
                <a class="contact-item" href="#">
                  <i class="fa-light fa-globe"></i>
                  <span>https://Effect.io</span>
                </a>
              </div>
              <div class="contact-info">
                <a class="contact-item" href="#">
                  <i class="fa-light fa-location-dot"></i>
                  <span
                    >20 Al Khail Road,<br />Business Bay Tower,<br />Dubai,
                    United Arab Emirates
                  </span>
                </a>
              </div>
            </div>
            <h3 class="contact-info-head">Follow us</h3>
            <div class="contact-social">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-x-twitter"></i>
              </a>
            </div>
          </div>
          <form action="">
            <div class="contact-form">
              <div class="form-group" ng-class="{'not-empty': userName.length}">
                <input
                  type="text"
                  class="form-control"
                  name="user"
                  id="user"
                  ng-model="userName"
                  placeholder=" "
                />
                <label for="user" class="animated-label">First Name</label>
              </div>
              <div class="form-group" ng-class="{'not-empty': LastName.length}">
                <input
                  type="text"
                  class="form-control"
                  name="LastName"
                  id="LastName"
                  ng-model="LastName"
                  placeholder=" "
                />
                <label for="LastName" class="animated-label">Last Name</label>
              </div>
              <div class="form-group" ng-class="{'not-empty': Mail.length}">
                <input
                  type="email"
                  class="form-control"
                  name="Mail"
                  id="Mail"
                  ng-model="Mail"
                  placeholder=" "
                />
                <label for="Mail" class="animated-label">Mail</label>
              </div>
              <div class="form-group" ng-class="{'not-empty': Phone.length}">
                <input
                  type="text"
                  class="form-control"
                  name="Phone"
                  id="Phone"
                  ng-model="Phone"
                  placeholder=" "
                />
                <label for="Phone" class="animated-label">Phone</label>
              </div>
            </div>
            <div class="form-group main-check">
              <label class="main-check-label">What service do you need?</label>
              <div class="check-group">
                <div class="check-width">
                  <label class="check-label">
                    <input type="checkbox" checked="checked" />
                    <span class="checkmark"></span>
                    <span class="check-text">Web Design</span>
                  </label>
                </div>
                <div class="check-width">
                  <label class="check-label">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    <span class="check-text">App Design</span>
                  </label>
                </div>
                <div class="check-width">
                  <label class="check-label">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    <span class="check-text">Graphic Design</span>
                  </label>
                </div>
                <div class="check-width">
                  <label class="check-label">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    <span class="check-text">Digital Marketing</span>
                  </label>
                </div>
                <div class="check-width">
                  <label class="check-label">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    <span class="check-text">Other</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Message</label>
              <input
                type="text"
                class="form-input"
                placeholder="Write your message..."
              />
            </div>
            <button type="submit" class="submit-btn">Submit</button>
          </form>
        </div>
      </div>
    </section>
    <!-- End contact  -->
    <!-- Start faq  -->
    <section class="faq-section">
      <div class="container">
        <h2 class="section-head" data-sal="slide-up" data-sal-delay="150">Frequently Asked Questions</h2>
        <div class="gruop-collase">
          <div class="collapse_parant">
            <div class="group_collapse">
              <button class="btn_collapse_ color_toggle inactive">
                <span>Can you work with clients remotely?</span>
                <div class="icon-wrapper is-active">
                  <i class="fa-solid fa-arrow-down-right"></i>
                </div>
              </button>
              <div class="toggle_collapse open-collapse">
                Absolutely! I have experience working with clients from all
                around the world. Through effective communication channels such
                as email, video calls, and project management tools, I ensure
                seamless collaboration regardless of geographical location.
              </div>
            </div>
          </div>
          <div class="collapse_parant">
            <div class="group_collapse">
              <button class="btn_collapse_">
                <span
                  >How long does it typically take to complete a web design
                  project?</span
                >
                <div class="icon-wrapper">
                  <i class="fa-solid fa-arrow-down-right"></i>
                </div>
              </button>
              <div class="toggle_collapse">
                Absolutely! I have experience working with clients from all
                around the world. Through effective communication channels such
                as email, video calls, and project management tools, I ensure
                seamless collaboration regardless of geographical location.
              </div>
            </div>
          </div>
          <div class="collapse_parant">
            <div class="group_collapse">
              <button class="btn_collapse_">
                <span>Do you offer website maintenance services?</span>
                <div class="icon-wrapper">
                  <i class="fa-solid fa-arrow-down-right"></i>
                </div>
              </button>
              <div class="toggle_collapse">
                Absolutely! I have experience working with clients from all
                around the world. Through effective communication channels such
                as email, video calls, and project management tools, I ensure
                seamless collaboration regardless of geographical location.
              </div>
            </div>
          </div>
          <div class="collapse_parant">
            <div class="faq-item">
              <h3>Do You Have Querries?</h3>
              <a href="#" class="faq-ancor">Get In Touch</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End faq  -->
    <!-- Start Footer -->
    <footer>
      <div class="container">
        <div class="footer">
          <div class="row">
            <div class="col-lg-4 col-12">
              <div class="footer-info">
                <div class="footer-logo">
                  <img loding="lazy" src="images/logo.svg" class="img-fluid" />
                </div>
                <p class="footer-p">
                  Innovating Digital Solutions. All Rights Reserved
                </p>
                <p class="footer-p">Join our community</p>
                <div class="socials">
                  <a href="#!" target="_blank" class="social">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                  <a href="#!" target="_blank" class="social">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                  <a href="#!" target="_blank" class="social">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                  <a href="#!" target="_blank" class="social">
                    <i class="fa-brands fa-x-twitter"></i>
                  </a>
                  <a href="#!" target="_blank" class="social">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="footer-nav">
                <h4 class="footer-title nav-foot-header">Links</h4>
                <ul class="footer-list nav-foot">
                  <li class="footer-item">
                    <a href="index.html" class="footer-link">Home </a>
                  </li>
                  <li class="footer-item">
                    <a href="services.html" class="footer-link">Service</a>
                  </li>
                  <li class="footer-item">
                    <a href="#" class="footer-link">PROJECTS</a>
                  </li>
                  <li class="footer-item">
                    <a href="about.html" class="footer-link">About us</a>
                  </li>
                  <li class="footer-item">
                    <a href="blogs.html" class="footer-link">Blog</a>
                  </li>
                  <li class="footer-item">
                    <a href="contact.html" class="footer-link">Contact</a>
                  </li>
                  <li class="footer-item">
                    <a href="#" class="footer-link">FAQs</a>
                  </li>
                  <li class="footer-item">
                    <a href="terms.html" class="footer-link"
                      >Terms & Conditions</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="footer-newsletter">
                <h4 class="footer-title nav-foot-header">Newsletter</h4>
                <div class="nav-foot">
                  <h5 class="newsletter-title">
                    Get exclusive promotions & updates straight to your inbox.
                  </h5>
                  <div class="newsletter-form">
                    <form>
                      <input
                        type="email"
                        placeholder=" Enter e-mail"
                        class="newsletter-input"
                      />
                      <button type="submit" class="newsletter-btn">
                        Subscribe
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copy-footer">
          <p class="copyrights">Ⓒ Effect Market. Use this template freely.</p>
        </div>
      </div>
    </footer>
    <!-- end footer -->

    <!--fixed-whats-->
    <a href="#" class="fixed-what">
      <i class="fab fa-whatsapp"></i>
    </a>
    <!--fixed-whats-->
    <!-- arrow to top -->
    <a class="arrow-top">
      <i class="fa-regular fa-arrow-up-long"></i>
    </a>
    <!-- arrow to top -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/sal.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
