<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />
    <title>Effect</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="images/favicon/site.webmanifest" />
    <link rel="stylesheet" href="css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/fontawesome.min.css" />
    <link rel="stylesheet" href="css/sal.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body data-bs-spy="scroll" data-bs-target="#fixedNavbar">
    <!-- Start Header -->
    <header id="header" class="header-section">
      <div class="container">
        <div class="header">
          <a href="index-ar.html" class="logo">
            <img loding="lazy" src="images/logo.svg" />
          </a>
          <div class="overlay"></div>
          <nav class="navbar" id="fixedNavbar">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" href="index.html"> الرئيسيه </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link drop-link"> خدمة </a>
                <div class="drop-down">
                  <a href="#"> خدمة 1 </a>
                  <a href="#"> خدمة 2 </a>
                  <a href="#"> خدمة 3 </a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> المشاريع</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> من نحن </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> مدونة </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> تواصل معنا </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> الأسئلة الشائعة </a>
              </li>
            </ul>
          </nav>
          <div class="header-btn">
            <a href="index.html" class="lang-ancor">En</a>
            <button class="menu-btn">
              <span class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </header>
    <!-- End Header -->
    <!-- Start main -->
    <main class="main-section">
      <div class="container">
        <div class="main-cont">
          <div class="main-content">
            <h1 class="main-title">
              <span>تأثير</span> - نحن نبتكر الحلول ونصنع الفارق
            </h1>
            <p class="main-pargh">"التأثير: الريادة في الابتكار الرقمي 🤗"</p>
            <a href="#" class="main-btn">
              <span> تواصل معنا </span>
            </a>
            <div class="socials main-socials">
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </div>
          </div>
          <div class="main-gif">
            <figure>
              <img loding="lazy" src="images/main-img.gif" alt="gif" />
            </figure>
            <div class="socials main-socials">
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
              <a href="#!" target="_blank" class="social">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- End main -->
    <!-- Start services -->
    <section class="services-section">
      <div class="container">
        <h2 class="section-head">الخدمات التي نقدمها</h2>
        <p class="section-pargh">
          نقدم حلولاً مبتكرة مصممة خصيصًا لتلبية تطلعاتك، وضمان نجاح غير محدود
          ومستدام لعملك من خلال استراتيجيات إبداعية طويلة الأمد.
        </p>
        <div class="services-cont">
          <div class="services-item">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/01.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">خدمات إدارة المشاريع</h5>
            <p class="services-item-pargh">
              نحول أفكارك إلى حقيقة! بفضل خبرتنا التنظيمية واستراتيجياتنا
              المتقدمة، نضمن إتمام مشاريعك بكفاءة وفي الوقت المحدد
            </p>
          </div>
          <div class="services-item">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/02.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">خدمات استشارية</h5>
            <p class="services-item-pargh">
              رؤى استراتيجية تؤدي إلى النجاح! نحن نقدم استشارات متخصصة لمساعدتك
              على اتخاذ قرارات واثقة تدفع نمو أعمالك
            </p>
          </div>
          <div class="services-item">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/03.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">خدمات التسويق الرقمي</h5>
            <p class="services-item-pargh">
              نقوم بتحويل فكرتك إلى علامة تجارية رائدة! استراتيجيات تسويق رقمية
              شاملة لضمان وصولك إلى الجمهور المناسب وتحقيق نتائج ملموسة
            </p>
          </div>
          <div class="services-item">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/04.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">خدمات التصميم</h5>
            <p class="services-item-pargh">
              أطلق العنان لرؤيتك الإبداعية! نحن نقدم خدمات تصميم مبتكرة، بما في
              ذلك الشعارات والهويات البصرية والتصميمات الجذابة التي تجعل علامتك
              التجارية تبرز بأناقة وتميز
            </p>
          </div>

          <div class="services-item">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/05.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">خدمات البرمجة</h5>
            <p class="services-item-pargh">
              نحو مستقبل رقمي مبتكر! نقدم حلول برمجة مخصصة تمزج بين التكنولوجيا
              والإبداع لتطوير تطبيقات ومواقع ويب تتجاوز التوقعات
            </p>
          </div>
          <div class="services-item">
            <figure class="services-icon">
              <img loding="lazy" src="images/services/03.svg" alt="icon" />
            </figure>
            <h5 class="services-item-head">التسويق الرقمي</h5>
            <p class="services-item-pargh">
              نقدم استراتيجيات تسويق رقمية مستهدفة لتعزيز ظهورك على الإنترنت
              ودفع النمو.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End services -->
    <!-- Start partners -->
    <section class="partners-section">
      <div
        class="partners-bg"
        style="background-image: url(images/partners/partners-bg.png)"
      ></div>
      <div class="container">
        <div class="partners-cont">
          <div class="partners-content">
            <h2 class="partners-title">شركاؤنا</h2>
            <p class="partners-pargh">
              نفخر بالشراكة مع شركات رائدة في مختلف الصناعات لتحقيق نتائج
              استثنائية ودفع النجاح.
            </p>
          </div>
          <div class="partners-imgs">
            <figure class="partners-figure">
              <img
                loding="lazy"
                src="images/partners/01.png"
                alt="partners-img"
              />
            </figure>
            <figure class="partners-figure">
              <img
                loding="lazy"
                src="images/partners/02.png"
                alt="partners-img"
              />
            </figure>
            <figure class="partners-figure">
              <img
                loding="lazy"
                src="images/partners/03.png"
                alt="partners-img"
              />
            </figure>
            <figure class="partners-figure">
              <img
                loding="lazy"
                src="images/partners/04.png"
                alt="partners-img"
              />
            </figure>
            <figure class="partners-figure">
              <img
                loding="lazy"
                src="images/partners/05.png"
                alt="partners-img"
              />
            </figure>
            <figure class="partners-figure">
              <img
                loding="lazy"
                src="images/partners/06.png"
                alt="partners-img"
              />
            </figure>
            <figure class="partners-figure">
              <img
                loding="lazy"
                src="images/partners/07.png"
                alt="partners-img"
              />
            </figure>
            <figure class="partners-figure">
              <img
                loding="lazy"
                src="images/partners/08.png"
                alt="partners-img"
              />
            </figure>
            <figure class="partners-figure">
              <img
                loding="lazy"
                src="images/partners/01.png"
                alt="partners-img"
              />
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- End partners -->
    <!-- Start design -->
    <section class="design-section">
      <div class="container">
        <div class="design-cont">
          <figure class="design-img">
            <img loding="lazy" src="images/design.jpeg" alt="design-img" />
          </figure>
          <div class="design-content">
            <h2 class="design-head">
              تم تصميمها وبناؤها بواسطة فريق إبداعي مذهل.
            </h2>
            <p class="design-pargh">
              تم تصميمها وبناؤها بواسطة فريق إبداعي مذهل، وتجمع مشاريعنا بين
              التصميم المبتكر والتكنولوجيا المتطورة. يتم تصميم كل حل باهتمام
              دقيق بالتفاصيل، مما يضمن التميز الجمالي والتألق الوظيفي.
            </p>
            <a href="#" class="custom-ancor">نبذة عنا</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End design -->
    <!-- Start process -->
    <section class="process-section">
      <div class="container">
        <h2 class="process-head">عمليتنا</h2>
        <p class="process-pargh">
          نتبع نهجًا مبسطًا: فهم احتياجاتك، وصياغة حلول مخصصة، والتنفيذ بدقة،
          والتحسين المستمر لضمان نتائج متميزة.
        </p>
        <div class="process-graph">
          <div class="process-item">
            <span>الاكتشاف</span>

            <figure>
              <img loding="lazy" src="images/process/01.svg" alt="icon" />
            </figure>
            <p class="process-item-pargh">
              نقوم بتحليل أهداف عملك وجمهورك والتحديات التي تواجهك للحصول على
              رؤى وإنشاء استراتيجية تتوافق مع رؤيتك.
            </p>
          </div>
          <div class="process-item">
            <span>الخطة</span>

            <figure>
              <img loding="lazy" src="images/process/02.svg" alt="icon" />
            </figure>
            <p class="process-item-pargh">
              نضع خارطة طريق استراتيجية بناءً على الأفكار، ونحدد بوضوح الأهداف
              والخطوات والجداول الزمنية لتحقيق أهدافك.
            </p>
          </div>
          <div class="process-item">
            <span>تنفيذ</span>
            <figure>
              <img loding="lazy" src="images/process/03.svg" alt="icon" />
            </figure>
            <p class="process-item-pargh">
              ننفذ الاستراتيجية بعناية، وندير التفاصيل لضمان التنفيذ السلس
              وتحقيق النتائج المرجوة بشكل فعال.
            </p>
          </div>
          <div class="process-item">
            <span>التسليم</span>

            <figure>
              <img loding="lazy" src="images/process/04.svg" alt="icon" />
            </figure>
            <p class="process-item-pargh">
              نقوم بتسليم المنتج النهائي أو الخدمة بدقة، مع ضمان أنه يلبي
              المتطلبات ويتجاوز التوقعات ويوفر قيمة استثنائية.
            </p>
          </div>
          <div class="process-gif">
            <img
              loding="lazy"
              src="images/process/process-gif-3.gif"
              alt="process-gif"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End process -->
    <!-- Start work -->
    <section class="work-section">
      <div class="container">
        <h2 class="section-head">عرض أعمالنا</h2>
        <div class="wotk-cont">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-management-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-management"
                type="button"
                role="tab"
                aria-controls="pills-management"
                aria-selected="true"
              >
                إدارة المشاريع
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-consulting-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-consulting"
                type="button"
                role="tab"
                aria-controls="pills-consulting"
                aria-selected="false"
              >
              خدمات الاستشارات
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-marketing-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-marketing"
                type="button"
                role="tab"
                aria-controls="pills-marketing"
                aria-selected="false"
              >
                التسويق الرقمي
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-design-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-design"
                type="button"
                role="tab"
                aria-controls="pills-design"
                aria-selected="false"
              >
                خدمات التصميم
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-programming-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-programming"
                type="button"
                role="tab"
                aria-controls="pills-programming"
                aria-selected="false"
              >
                خدمات البرمجة
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-management"
              role="tabpanel"
              aria-labelledby="pills-management-tab"
              tabindex="0"
            >
              <div class="work-tab">
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/01.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>تفاصيل</span>
                  </div>
                </a>
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/02.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>تفاصيل</span>
                  </div>
                </a>
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/03.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>تفاصيل</span>
                  </div>
                </a>
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/04.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>تفاصيل</span>
                  </div>
                </a>
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/05.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>تفاصيل</span>
                  </div>
                </a>
                <a href="#" class="work-item">
                  <figure>
                    <img
                      loding="lazy"
                      src="images/work/06.png"
                      alt="work-sample"
                    />
                  </figure>
                  <div class="work-hover">
                    <span>تفاصيل</span>
                  </div>
                </a>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-consulting"
              role="tabpanel"
              aria-labelledby="pills-consulting-tab"
              tabindex="0"
            >
              ...
            </div>
            <div
              class="tab-pane fade"
              id="pills-marketing"
              role="tabpanel"
              aria-labelledby="pills-marketing-tab"
              tabindex="0"
            >
              ...
            </div>
            <div
              class="tab-pane fade"
              id="pills-design"
              role="tabpanel"
              aria-labelledby="pills-design-tab"
              tabindex="0"
            >
              ...
            </div>
            <div
              class="tab-pane fade"
              id="pills-programming"
              role="tabpanel"
              aria-labelledby="pills-programming-tab"
              tabindex="0"
            >
              ...
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End work -->
    <!-- End testimonials -->
    <section class="testimonials-section">
      <div class="container">
        <h2 class="testimonials-head">تحقيق رضا العملاء بعد العمل معنا</h2>
        <div class="testimonials-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonials-cont">
                  <div class="testimonials-img">
                    <figure>
                      <img src="images/client/01.png" alt="client" />
                    </figure>
                    <i class="fa-solid fa-quote-left"></i>
                  </div>
                  <div class="testimonials-title">عبد العزيز الشرفاء</div>
                  <div class="testimonials-job">تحسين محرك البحث</div>
                  <p class="testimonials-pargh">
                    لوريم إيبسوم آلام الجلوس أميت، consectetur adipiscing إيليت،
                    سيد هل يحدث وقت طويل من العمل والألم الكبير aliqua
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonials-cont">
                  <div class="testimonials-img">
                    <figure>
                      <img src="images/client/02.png" alt="client" />
                    </figure>
                    <i class="fa-solid fa-quote-left"></i>
                  </div>
                  <div class="testimonials-title">عبد العزيز الشرفاء</div>
                  <div class="testimonials-job">تحسين محرك البحث</div>
                  <p class="testimonials-pargh">
                    لوريم إيبسوم آلام الجلوس أميت، consectetur adipiscing إيليت،
                    سيد هل يحدث وقت طويل من العمل والألم الكبير aliqua
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonials-cont">
                  <div class="testimonials-img">
                    <figure>
                      <img src="images/client/03.png" alt="client" />
                    </figure>
                    <i class="fa-solid fa-quote-left"></i>
                  </div>
                  <div class="testimonials-title">عبد العزيز الشرفاء</div>
                  <div class="testimonials-job">تحسين محرك البحث</div>
                  <p class="testimonials-pargh">
                    لوريم إيبسوم آلام الجلوس أميت، consectetur adipiscing إيليت،
                    سيد هل يحدث وقت طويل من العمل والألم الكبير aliqua
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <!-- End testimonials -->
    <!-- Start contact  -->
    <section class="contact-section">
      <div class="container">
        <h2 class="section-head">تواصل معنا</h2>
        <p class="contact-pargh">
          تواصل مع فريقنا لمناقشة مشروعك أو طرح الأسئلة أو الحصول على المزيد من
          المعلومات حول كيفية مساعدتك في تحقيق أهدافك.
        </p>
        <div class="contact-cont">
          <div class="contact-content">
            <h4 class="contact-header">لنعمل معًا</h4>
            <p class="contact-text">
              املأ النموذج وسيتواصل فريقنا معك خلال 24 ساعة.
            </p>
            <div class="contact-ancors">
              <a class="contact-item" href="tel:+91 98765 43210">
                <i class="fa-solid fa-mobile-button"></i>
                <span>+91 98765 43210</span>
              </a>
              <div class="contact-info">
                <a
                  class="contact-item"
                  href="mailto:Effect.io"
                  style="text-decoration: underline"
                >
                  <i class="fa-solid fa-envelope-open"></i>
                  <span>Effect.io</span>
                </a>
              </div>
              <div class="contact-info">
                <a class="contact-item" href="#">
                  <i class="fa-light fa-globe"></i>
                  <span>https://Effect.io</span>
                </a>
              </div>
              <div class="contact-info">
                <a class="contact-item" href="#">
                  <i class="fa-light fa-location-dot"></i>
                  <span
                    >20 شارع الخيل،<br />برج الخليج التجاري،<br />دبي، الإمارات
                    العربية المتحدة
                  </span>
                </a>
              </div>
            </div>
            <h3 class="contact-info-head">تابعنا</h3>
            <div class="contact-social">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-x-twitter"></i>
              </a>
            </div>
          </div>
          <form action="">
            <div class="contact-form">
              <div class="form-group" ng-class="{'not-empty': userName.length}">
                <input
                  type="text"
                  class="form-control"
                  name="user"
                  id="user"
                  ng-model="userName"
                  placeholder=" "
                />
                <label for="user" class="animated-label">الاسم الأول</label>
              </div>
              <div class="form-group" ng-class="{'not-empty': LastName.length}">
                <input
                  type="text"
                  class="form-control"
                  name="LastName"
                  id="LastName"
                  ng-model="LastName"
                  placeholder=" "
                />
                <label for="LastName" class="animated-label">اسم العائلة</label>
              </div>
              <div class="form-group" ng-class="{'not-empty': Mail.length}">
                <input
                  type="email"
                  class="form-control"
                  name="Mail"
                  id="Mail"
                  ng-model="Mail"
                  placeholder=" "
                />
                <label for="Mail" class="animated-label">بريد</label>
              </div>
              <div class="form-group" ng-class="{'not-empty': Phone.length}">
                <input
                  type="text"
                  class="form-control"
                  name="Phone"
                  id="Phone"
                  ng-model="Phone"
                  placeholder=" "
                />
                <label for="Phone" class="animated-label">هاتف</label>
              </div>
            </div>
            <div class="form-group main-check">
              <label class="main-check-label">ما هي الخدمة التي تحتاجها؟</label>
              <div class="check-group">
                <div class="check-width">
                  <label class="check-label">
                    <input type="checkbox" checked="checked" />
                    <span class="checkmark"></span>
                    <span class="check-text">تصميم الويب</span>
                  </label>
                </div>
                <div class="check-width">
                  <label class="check-label">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    <span class="check-text">تصميم التطبيق</span>
                  </label>
                </div>
                <div class="check-width">
                  <label class="check-label">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    <span class="check-text">التصميم الجرافيكي</span>
                  </label>
                </div>
                <div class="check-width">
                  <label class="check-label">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    <span class="check-text">التسويق الرقمي</span>
                  </label>
                </div>
                <div class="check-width">
                  <label class="check-label">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    <span class="check-text">أخرى</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">رسالة</label>
              <input
                type="text"
                class="form-input"
                placeholder="اكتب رسالتك..."
              />
            </div>
            <button type="submit" class="submit-btn">إرسال</button>
          </form>
        </div>
      </div>
    </section>
    <!-- End contact  -->
    <!-- Start faq  -->
    <section class="faq-section">
      <div class="container">
        <h2 class="section-head">الأسئلة الشائعة</h2>
        <div class="gruop-collase">
          <div class="collapse_parant">
            <div class="group_collapse">
              <button class="btn_collapse_ color_toggle inactive">
                <span>هل يمكنك العمل مع العملاء عن بعد؟</span>
                <div class="icon-wrapper is-active">
                  <i class="fa-solid fa-arrow-down-right"></i>
                </div>
              </button>
              <div class="toggle_collapse open-collapse">
                بالتأكيد! لدي خبرة في العمل مع العملاء من جميع أنحاء العالم. ومن
                خلال قنوات الاتصال الفعّالة مثل البريد الإلكتروني ومكالمات
                الفيديو وأدوات إدارة المشاريع، أضمن التعاون السلس بغض النظر عن
                الموقع الجغرافي.
              </div>
            </div>
          </div>
          <div class="collapse_parant">
            <div class="group_collapse">
              <button class="btn_collapse_">
                <span
                  >ما هي المدة التي يستغرقها عادةً إكمال مشروع تصميم
                  الويب؟</span
                >
                <div class="icon-wrapper">
                  <i class="fa-solid fa-arrow-down-right"></i>
                </div>
              </button>
              <div class="toggle_collapse">
                بالتأكيد! لدي خبرة في العمل مع العملاء من جميع أنحاء العالم. ومن
                خلال قنوات الاتصال الفعّالة مثل البريد الإلكتروني ومكالمات
                الفيديو وأدوات إدارة المشاريع، أضمن التعاون السلس بغض النظر عن
                الموقع الجغرافي.
              </div>
            </div>
          </div>
          <div class="collapse_parant">
            <div class="group_collapse">
              <button class="btn_collapse_">
                <span>هل تقدمون خدمات صيانة المواقع الإلكترونية؟</span>
                <div class="icon-wrapper">
                  <i class="fa-solid fa-arrow-down-right"></i>
                </div>
              </button>
              <div class="toggle_collapse">
                بالتأكيد! لدي خبرة في العمل مع العملاء من جميع أنحاء العالم. ومن
                خلال قنوات الاتصال الفعّالة مثل البريد الإلكتروني ومكالمات
                الفيديو وأدوات إدارة المشاريع، أضمن التعاون السلس بغض النظر عن
                الموقع الجغرافي.
              </div>
            </div>
          </div>
          <div class="collapse_parant">
            <div class="faq-item">
              <h3>هل لديك استفسارات؟</h3>
              <a href="#" class="faq-anchor">تواصل معنا</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End faq  -->
    <!-- Start Footer -->
    <footer>
      <div class="container">
        <div class="footer">
          <div class="row">
            <div class="col-lg-4 col-12">
              <div class="footer-info">
                <div class="footer-logo">
                  <img loding="lazy" src="images/logo.svg" class="img-fluid" />
                </div>
                <p class="footer-p">
                  ابتكار الحلول الرقمية. جميع الحقوق محفوظة
                </p>
                <p class="footer-p">انضم إلى مجتمعنا</p>
                <div class="socials">
                  <a href="#!" target="_blank" class="social">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                  <a href="#!" target="_blank" class="social">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                  <a href="#!" target="_blank" class="social">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                  <a href="#!" target="_blank" class="social">
                    <i class="fa-brands fa-x-twitter"></i>
                  </a>
                  <a href="#!" target="_blank" class="social">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="footer-nav">
                <h4 class="footer-title nav-foot-header">روابط</h4>
                <ul class="footer-list nav-foot">
                  <li class="footer-item">
                    <a href="#" class="footer-link">الصفحة الرئيسية </a>
                  </li>
                  <li class="footer-item">
                    <a href="#" class="footer-link">الخدمة</a>
                  </li>
                  <li class="footer-item">
                    <a href="#" class="footer-link">المشاريع</a>
                  </li>
                  <li class="footer-item">
                    <a href="#" class="footer-link">نبذة عنا</a>
                  </li>
                  <li class="footer-item">
                    <a href="#" class="footer-link">المدونة</a>
                  </li>
                  <li class="footer-item">
                    <a href="#" class="footer-link">الاتصال</a>
                  </li>
                  <li class="footer-item">
                    <a href="#" class="footer-link">الأسئلة الشائعة</a>
                  </li>
                  <li class="footer-item">
                    <a href="#" class="footer-link">الشروط والأحكام</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="footer-newsletter">
                <h4 class="footer-title nav-foot-header">النشرة الإخبارية</h4>
                <div class="nav-foot">
                  <h5 class="newsletter-title">
                    احصل على عروض ترويجية وتحديثات حصرية مباشرة إلى صندوق الوارد
                    الخاص بك.
                  </h5>
                  <div class="newsletter-form">
                    <form>
                      <input
                        type="email"
                        placeholder=" أدخل البريد الإلكتروني"
                        class="newsletter-input"
                      />
                      <button type="submit" class="newsletter-btn">
                        اشترك
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copy-footer">
          <p class="copyrights">Ⓒ تأثير السوق. استخدم هذا القالب بحرية.</p>
        </div>
      </div>
    </footer>
    <!-- end footer -->

    <!--fixed-whats-->
    <a href="#" class="fixed-what">
      <i class="fab fa-whatsapp"></i>
    </a>
    <!--fixed-whats-->
    <!-- arrow to top -->
    <a class="arrow-top">
      <i class="fa-regular fa-arrow-up-long"></i>
    </a>
    <!-- arrow to top -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/sal.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
